VITE_GOOGLE_FORM_URL=https://forms.gle/gpiePg5RWz4Hmuuo8

# URL del Apps Script publicado como Web App para la barra de progreso.
VITE_PROGRESS_API_URL=https://script.google.com/macros/s/AKfycbxaPcmD3KaJAr2ZvBBmnnDpw_wfUjo0ACMcQSoLlVs08MNurSCEwMLevJuIAakA8EE/exec
